* {
    padding: 0;
    margin: 0;
}
body {
    background: #e8e8e8 url(images/body-bg.jpg);
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 1.3;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #3a3e3f;
}
img {
    max-width: 100%;
}
/*==================header======================*/
.header_main {
    background: url(images/header-bg.jpg) center top no-repeat;
    background-size: 100% 91px;
    border-bottom: 5px solid #b3b3b2;
    height: 91px;
}
.header_top {
    background: url(images/header-top-bg.jpg) repeat-x;
}
.header {
    overflow: hidden;
}
.logo {
    float: left;
    background: #f26c4f;
    color: #fff;
    text-decoration: none;
    font-size: 28px;
    padding: 0 65px 5px 30px;
}
.logo sup {
    line-height: 0;
    color: #f5937e;
}
.menu {
    overflow: hidden;
}
    .menu ul {
        list-style: none;
        overflow: hidden;
        float: left;
        margin-left: 15px;
    }

    .menu li {
        float: left;
        font-size: 14px;
    }
    .menu li a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        padding: 11px 15px 12px 15px;
        display: block;
    }
    .menu li a:hover {
        text-decoration: underline;
    }
/*================content====================*/

.content_main {
    overflow: hidden;
}
.content {
    
}
.post_main {
    margin-bottom: 30px;
}
.post_img {
    background: #fff;
    border: 1px solid #d7d7d7;
    padding: 6px;
    position: relative;
    margin-bottom: 8px;
}
.post_img_social {
    position: absolute;
    bottom: 15px;
    left: 50px;
}
.post_img_social img {
    display: block;
    margin-bottom: 10px;
}
.post_content {
    background: #fff;
    border: 1px solid #d7d7d7;
    padding: 35px;
    position: relative;
}
.post_arrow_up {
    background: url(images/post-str.png) no-repeat;
    width: 31px;
    height: 17px;
    position: absolute;
    top: -17px;
    left: 70px;
}
.post_head {
    
}
.post_head h1 {
    
    margin-bottom: 10px;
    
}
.post_head h1 a {
    text-decoration: none;
    font-size: 30px;
    color: #3a3e3f;
}
.post_head h1 a:hover {
    text-decoration: underline;
}
.post_head p {
    font-size: 12px;
    color: #d0d0d0;
    margin-bottom: 10px;
}
.post_head h2 {
    font-size: 15px;
    color: #f26c4f;
    margin-bottom: 10px;
}
.post p {
    color: #959595;
    line-height: 2;
}
.pager {
    overflow: hidden;
    list-style: none;
    margin: 0 0 40px 30px;
}
.pager li {
    float: left;        
    font-size: 14px;
    font-weight: bold;
}
.pager li a {
    text-decoration: none;
    padding: 3px 7px;
    margin: 0 10px 0 0;
    display: block;
    color: #3a3e3f;
}
.pager li a:hover {
    text-decoration: underline;
}
.pager li a.page_now {
    background: #f26c4f;
    color: #fff;
}
/*================sidebar==================*/

.sidebar_main {
    padding-bottom: 30px;
}
.sidebar {
    border: 1px solid #d7d7d7;
    background: #fff;
    padding: 40px 30px 20px 30px;
    margin-bottom: 30px;
}
.sidebar h2 {
    font-size: 16px;
    color: #2e2d2d;
    font-weight: bold;
    margin-bottom: 15px;
}
.side_widget {
    margin-bottom: 30px;
}
.side_widget ul {
    list-style: none;
    font-size: 15px;
}
.side_widget ul li {
    background: url(images/dot-li.jpg) bottom repeat-x;
    padding: 5px 0;
}
.side_widget ul li a {
    font-size: 15px;
    color: #828282;
    text-decoration: none;
    background: url(images/widget-a1.jpg) left center no-repeat;
    padding-left: 30px;
}
.side_widget ul li a:hover {
    color: #f26c4f;
    background: url(images/widget-a2.jpg) left center no-repeat;
}
.recent_posts {
    font-size: 13px;
    font-style: italic;    
    line-height: 1.5;
}
.recent_posts p {
    background: url(images/recent-bg.jpg) left 7px no-repeat;
    padding-left: 15px;
    margin-bottom: 9px;
}
.recent_posts p span {
    color: #868686;
    display: block;
    font-size: 12px;
}
.recent_posts p a {
    color: #3a3a3a;
    text-decoration: none;
}
.recent_posts p a:hover {
    text-decoration: underline;
}
.side_banner {
    text-align: center;
}
/*==============footer=====================*/
.footer_main {
    background: #343434;
}
.footer {
    color: #fff;
    font-size: 12px;
    padding: 30px 0;
    line-height: 1.7;
    overflow: hidden;
}
.footer_right {
    margin-right: 10px;
    text-align: center;
}
.footer_left {
    float: left;
}
.footer_left p {
    margin-bottom: 20px;
    padding-left: 20px;
}
.footer_left p.copy {
    color: rgba(255, 255, 255, 0.5);
}














